
:root {
    --primary: #8e24aa;
  }
$pink: #f8bcbc;

$dark-blue: #293264;
$dark-white: #f5f7fb;
$light-blue: #d6dbf5;
$lighter-blue: #dbdef0;
$light-yellow: #fffad1;

$purple: rgb(147 30 140);
$cyan: #00ffb8;
$grey: #ccc;
$grey-dark: #444;
$grey-darker: #333;
$beige:#FFF9E4;
$dark:#121212;
$green:#43DD65;
$green-dark:#15451F;
$green-darker:#0D2B14;
$yellow:#F2CA3C;
$yellow-dark:#594A16;
$yellow-darker:#403510;
$red:#F03986;
$red-dark:#571530;
$red-darker:#3D0F22;
$blue:#3C9BF2;
$blue-dark:#163959;
$blue-darker:#102940;

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #d81b60;
  --primary-hover: #c2185b;
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
  }
}