* {
    box-sizing: border-box;
    font-family: $family-primary;
  }
body {
    align-items: flex-start;
    background: $beige;
    background: url('../img/bg-blob.svg') no-repeat center center;
    background-size: cover;
    
    
    display: flex;
    font-family: $family-primary;
    font-weight: $weight-normal;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    #root{
      width: 100%;
    }
  }
 
  

  //loading animation
.spinner {
  border-radius: 50%;
  height: 50px;
  width: 50px;

  .line {
    animation: 2156ms spinner-arc ease-in-out infinite,
      1829ms spinner-rotate linear infinite;
    fill: none;
    opacity: $line-alpha;
    stroke: $line-color;
    stroke-linecap: round;
    stroke-width: $ring-size;
    transform: rotate3d(0, 0, 1, 0deg);
    transform-origin: 50% 50%;
  }
  .ring {
    fill: none;
    opacity: $ring-alpha;
    stroke: $ring-color;
    stroke-width: $ring-size;
  }
}
@keyframes spinner-rotate {
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes spinner-arc {
  from {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }
  to {
    stroke-dasharray: 100 150;
    stroke-dashoffset: -140;
  }
}

